.editAct {
    margin-left: 155px;
    margin-top: -46px;
}

.save {
    margin-left: 156px;
    margin-top: -20px;
}

.App {
    margin: 30px;
}

div#taskform {
    margin-left: 33px;
    margin-top: -26px;
}